.navbar{
    background-color: $blueT;
    img{
     width: 100%;
    }
    ul{
        li{
            a{
            font-size: $fontM;
            color: $white;
            font-weight: $textBold;
            }
        }
    }
        
}
